<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.br.jobup">

    <!-- To auto-complete the login text field in the usuarioSignIn form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogojobup"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme" />
        <activity
            android:name="trash.ApresentacaoActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="activities.SingInActivity"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name="activities.CadastroActivity"
            android:label="@string/title_activity_cadastro" />
        <activity
            android:name="activities.SignUpActivity"
            android:label="Cadastro" />
        <activity
            android:name="activities.ApresentacaoActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            />
        </activity>
        <activity
            android:name="activities.MensagensActivity"
            android:label="@string/title_activity_mensagem" />

        <activity
            android:name="activities.DetalheServicoActivity"
            android:label="@string/title_activity_confirmacao" />
        <activity android:name="activities.ListUsuarioActivity" />
        <activity android:name="activities.CatalogoEspecialidadeActivity" />
        <activity android:name="activities.ListaNovaDeUsuariosActivity" />
    </application>

</manifest>