@model IEnumerable<JOB.WEB.Models.EspecialidadeViewModel>

@{
    ViewBag.Title = "Profissionais";
    ViewBag.SubTitle = "Especialidade";
}

@section Menu {
    @Scripts.Render("~/Scripts/Global/Profissionais/menu")
}

<div class="box">
    <div class="box-body">
        <div class="box-header with-border">
            <h3 class="box-title">Escolha primeiro a especialidade do profissional que deseja</h3>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <a style="cursor: pointer" href="/profissional/?idEspecialidade=@item.ID_ESPECIALIDADE">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box" style="background-color: whitesmoke;">
                            <span class="info-box-icon"><img src="~/img/@item.IMAGEM" width="48" height="48" style="margin-top: -10px;" /></span>
                            <div class="info-box-content">
                                <span>@Html.DisplayFor(modelItem => item.DESCRICAO)</span>
                                <span class="info-box-number">@item.QTD_PROFISSIONAIS</span>
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</div>