@model HandleErrorInfo
@{
    ViewBag.Title = "Error";
}

<h2 class="text-danger">Error.</h2>
<div>

    @{
        if (String.IsNullOrEmpty(ViewBag.errorMessage))
        {
            <p>
                Ocorreu um erro enquanto processava seu pedido.
            </p>
        }
        else
        {
            <p>
                @ViewBag.errorMessage
            </p>
        }
    }
</div>