@model JOB.WEB.Models.UsuarioViewModel

@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/Bundle/AdminLTE/plugins/icheck/css")
@Scripts.Render("~/Bundle/AdminLTE/plugins/icheck/js")

<div class="row">
    @if (User.Identity.IsAuthenticated)
    {
        if (Model.APROVADO == false)
        {
            <div class="alert alert-warning">
                Seu perfil ainda não foi aprovado. Favor, aguarde que nossa equipe avalie seu perfil e libere seu acesso a nossa comunidade.
            </div>
        }
        if (Model.ATIVO == false)
        {
            <div class="alert alert-danger">
                Seu perfil não está mais ativo, portanto não será visto por ninguem. Se quiser reatizar seu perfil, favor clique @Html.ActionLink("aqui", "Ativar", "Manage")
            </div>
        }
    }
</div>
<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-group"></i></span>
            <div class="info-box-content">
                <span >Consulte nossos profissionais</span>
                <span class="info-box-number">760</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-user-plus"></i></span>
            <div class="info-box-content">
                <span >Faça parte da nossa comunidade. Ofereça seus serviços</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-briefcase"></i></span>
            <div class="info-box-content">
                <span >Veja ofertas de serviços disponíveis</span>
                <span class="info-box-number">760</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="fa fa-plus"></i></span>
            <div class="info-box-content">
                <span>Crie uma oferta de serviço</span>
            </div>
        </div>
    </div>
</div>