<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.jobup">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogojobup"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".telas.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".telas.ApresentacaoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".telas.LoginActivity"
            android:label="@string/titulo_tela_login" />
        <activity
            android:name=".telas.RegistroActivity"
            android:label="@string/titulo_tela_registro" />
        <activity
            android:name=".telas.PerfilActivity"
            android:label="@string/title_activity_perfil"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>